# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# Logs
*.log
wandb/

# Database
*.db
*.sqlite

# Build
build/
dist/
*.egg-info/

# Cache
.cache/

# Coverage
.coverage
*.cover

# Test
.test/
